<label>Server Name</label>
<input type="text" class="form-control" (input)= "onUpdateServerName($event)">
<input type="text" class="form-control" [(ngModel)]="updateServerName">
<p>{{ updateServerName }}</p>

<button class="btn btn-primary" [disabled]=!allowNewServer (click) = "onServerCreation()">Add Server</button>

<p>{{allowNewServer}}</p>

<p>{{ serverCreationStatus }}</p>

<p [innerText]=allowNewServer></p>

<p *ngIf=serverButtonClickDirective>The server was created and value is = {{ updateServerName }}</p>


<app-server></app-server>
<app-server></app-server>